---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';


const pageTitle = "Blog";



---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1>{pageTitle}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae deleniti maiores deserunt officiis? Neque fugiat voluptatibus voluptas dolor impedit non ullam beatae blanditiis assumenda voluptatum perferendis facilis, delectus sequi facere?</p>
	</Navigation>
</html>
