---
import BaseLayout from '../layout/BaseLayout.astro'
import Greeting from '../components/Greeting';
const pageTitle = "Página de inicio";
---
<BaseLayout pagetitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
  <Greeting 
    messages={["Hola", "Qué tal", "Hola a todos"]}
    client:load
  />
</BaseLayout>