---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro'
import ThemeIcon from './ThemIcon.astro';
import ThemIcon from './ThemIcon.astro';
---
<header>
  <nav>
    <Hamburger />
    <ThemIcon />
    <Navigation />
  </nav>
</header>